.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerContent {
    margin-bottom: 10px;
  }
  
  .socialLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  