.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    margin-right: 10px;
    text-shadow: 2px 2px 2px #000;
    color: rgb(230, 201, 158);
  }

  .nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
  }
  